<div class="md:container md:mx-auto">
  <!-- {{contactList | json}} -->
  <div class="grid grid-cols-4 divide-x">
    <div class="text-[18px] p-2 border-none">
      Name
    </div>
    <div class="text-[18px] p-2 border-none">
      Email
    </div>
    <div class="text-[18px] p-2 border-none">
      Mobile Number
    </div>
    <div class="text-[18px] p-2 border-none">
      label
    </div>
  </div>
  <hr>
  <div *ngFor="let contact of contactList">
    <app-contact [contactData]="contact" (onDeleteContact)="deleteContact(event)"></app-contact>
  </div>
</div>

<!-- for bottom button -->
<button mat-fab color="accent" (click)="clickMenu()" class="menu-button" [class.mat-elevation-z2]="!isOver"
  [class.mat-elevation-z8]="isOver" (mouseover)="isOver = true" (mouseleave)="isOver = false">
  <i class="material-icons" *ngIf="!openMenu">menu</i>
  <i class="material-icons" *ngIf="openMenu">close</i>
</button>
<!-- menu button -->
<button mat-raised-button class="label labelone mat-elevation-z8" *ngIf="openMenu" color="basic" routerLink="new">
  Create Contact
</button>
<button mat-mini-fab class="action-button one mat-elevation-z8" *ngIf="openMenu" color="basic" routerLink="new">
  <mat-icon>add_circle_outline</mat-icon>
</button>
