<mat-sidenav-container class="app-drawer-container" fullscreen>
  <mat-sidenav #sidenav mode="over">
    <div class="w-48">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur officia a facilis error, quia obcaecati dolor
      vel eligendi sed illum quis explicabo in labore, illo corrupti, praesentium esse dolorem. Facilis.
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-nav-bar></app-nav-bar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
